<p>This package contains project templates for developing cross-platform .Net 6
application programs for Windows or Linux using <b><a href=
"https://www.nuget.org/packages/libremoteio">libremoteio</a></b>, a .Net
Standard 2.0 library assembly that provides a .Net client implementation of the
<b><a href="http://git.munts.com/libsimpleio/doc/RemoteIOProtocol.pdf">Remote
I/O Protocol</a></b>.</p>
<p><b>libremoteio</b> provides services to control ADC (Analog to Digital
Converter) inputs, DAC (Digital to Analog) outputs, GPIO (General Purpose I/O)
pins, I2C devices, PWM (Pulse Width Modulated) outputs, servo outputs, motor
outputs, and SPI (Serial Peripheral Interface) devices connected to a <b>Remote
I/O Protocol</b> server.</p>
<p>With <b>libremoteio</b> you can develop .Net 6 application programs for
Windows or Linux target computers that control I/O devices connected to a
<b>Remote I/O Protocol</b> server. Such programs may be used for physical
computing, test fixtures, instrumentation, and other kinds of embedded
systems.</p>
<p>The API documentation for <b>libremoteio</b> is available as a Windows
<a href="http://git.munts.com/libremoteio/doc/libremoteio.dll.chm">help
file</a>.</p>
<p><b>Remote I/O Protocol Servers</b></p>
<p>A free and open source <b>Remote I/O Protocol</b> server framework written
in Ada for Linux is part of the <b><a href=
"https://github.com/pmunts/libsimpleio">Linux Simple I/O Library</a></b>. See
<a href=
"https://github.com/pmunts/libsimpleio/blob/master/ada/programs/remoteio/test_server_dummy.adb">
test_server_dummy.adb</a>. Some board specific example <b>Remote I/O
Protocol</b> server programs for <b><a href=
"https://github.com/pmunts/muntsos">MuntsOS Embedded Linux</a></b> using that
framework are available <a href=
"https://github.com/pmunts/muntsos/tree/master/examples/ada/programs">here</a>.
The <b>MuntsOS Embedded Linux</b> GPIO <a href=
"http://repo.munts.com/muntsos/thinservers">Thin Servers</a> for BeagleBone,
PocketBeagle, and Raspberry Pi boards include <b>Remote I/O Protocol</b>
support.</p>
<p>Two commercial USB HID <b>Remote I/O Protocol</b> server products available
for purchase on <a href=
"https://www.tindie.com/search/?q=Munts+Remote+I%2FO+Protocol">tindie.com</a>,
both of which use reprogrammed Adafruit MCP2221A breakout boards.</p>
