<p><b>Introduction</b></p>
<p>This package provides a .Net 7 project template for developing .Net 7
application programs for Linux using <b><a href=
"https://www.nuget.org/packages/libsimpleio">libsimpleio</a></b>, a .Net
Standard 2.0 library assembly that provides a .Net binding to the <b><a href=
"https://github.com/pmunts/libsimpleio">Linux Simple I/O Library</a></b>.</p>
<p><b>libsimpleio</b> provides services to control ADC (Analog to Digital
Converter) inputs, DAC (Digital to Analog) outputs, GPIO (General Purpose I/O)
pins, I2C bus controllers, PWM (Pulse Width Modulated) outputs, servo outputs,
motor outputs, SPI (Serial Peripheral Interface) devices, and watchdog
timers.</p>
<p>With <b>libsimpleio</b> you can develop .Net 7 application programs for
Linux target computers, including microcomputers like the <a href=
"https://beagleboard.org/bone">BeagleBone</a> and the <a href=
"https://www.raspberrypi.com">Raspberry Pi</a>, that control I/O devices. Such
programs may be used for physical computing, test fixtures, instrumentation,
and other kinds of embedded systems.</p>
<p>The API documentation for <b>libsimpleio</b> is available at
<a href="http://git.munts.com/libsimpleio/doc/libsimpleio.dll.chm">http://git.munts.com/libsimpleio/doc/libsimpleio.dll.chm</a>.</p>
<p><b>Usage</b></p>
<p>Install this template package by running the following command from a Linux
or Windows command line:</p>
<pre><b>
dotnet new install libsimpleio-templates

</b></pre>
<p>The above command will install a .Net 7 application program project template
called <b><tt>csharp_console_libsimpleio</tt></b>. You can then create a
project using it with commands like the following:</p>
<pre><b>
mkdir myprogram
cd myprogram
dotnet new csharp_console_libsimpleio

</b></pre>
<p>On Windows, after you have run the <b><tt>dotnet new install</tt></b> command
above, <b>Visual Studio 2022</b> will automatically pick up the
<b><tt>csharp_console_libsimpleio</tt></b> <tt>project template</tt>. You can
then create a project using it with <b><tt>File</tt> → <tt>New</tt> →
<tt>Project...</tt></b> and then search for <b><tt>libsimpleio</tt></b>.</p>
